h1{
  text-align: center;
  color: blue;
  font-size: 40px;
}

.container{
  width: 900px;
}

.buttons{
  float: left;
}

.betForm{
  float: right;
  padding: 20px;
  margin: 10px;
}

.betNumbers{
  display: inline-block;
  padding: 5px 5px;
  border: 2px solid black;
  margin-right: 5px;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.red{
  background: red;
  color: white;
}

.black{
  background: black;
  color: white;
}

.green{
  background: green;
  color: white;
}
