<h1>Place your bet</h1>
<div class="container">
  <div class="row">

    <div class="col">
      <button type="button" name="startBtn" class="btn btn-primary mr-3 ml-5" (click)="start()">Start</button>
      <button type="button" name="stopBtn" class="btn btn-danger mr-3" (click)="stop()">Stop</button>
      <button type="button" name="ResetBtn" class="btn btn-secondary" (click)="reset()">Reset</button>
    </div>

    <form>
      <div class="col">
        <input type="text" class="form-control md" placeholder="Place your bet" #betField/>

        <div class="form-check form-check-inline">
          <input class="form-check-input"
                 type="radio"
                 name="inlineRadioOptions"
                 id="redForBet"
                 value="red"
                 #redButton
                 [(ngModel)]="inlineRadioOptions"
          >
          <label class="form-check-label" for="redForBet">Red</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input"
                 type="radio"
                 name="inlineRadioOptions"
                 id="blackToBet"
                 value="black"
                 #blackButton
                 [(ngModel)]="inlineRadioOptions"
          >
          <label class="form-check-label" for="blackToBet">Black</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input"
                 type="radio"
                 name="inlineRadioOptions"
                 id="zeroForBet"
                 value="zero"
                 #zeroButton
                 [(ngModel)]="inlineRadioOptions"
          >
          <label class="form-check-label" for="zeroForBet">Zero</label>

          <p class="text-center ml-2 pt-3">
            Balance is:
            <span class="font-weight-bold">
             {{showBalance()}}
            </span></p>

        </div>
      </div>
    </form>
  </div>
  <div class="betNumbers pt-1 mt-2"
       *ngFor="let number of numbers"
       appColor="color"
  > {{ number }} </div>
</div>





